@import './Auth.css';
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

:root {
	--font-style: 'Fredoka', sans-serif;
	--font-color: #b973c4;
	--webkit-box-shadow: 0px 0px 5px 0px rgba(185, 115, 196, 1);
	--moz-box-shadow: 0px 0px 5px 0px rgba(185, 115, 196, 1);
	--box-shadow: 0px 0px 5px 0px rgba(185, 115, 196, 1);
}

body {
	background-color: #121212;
	margin: 0;
	font-family: var(--font-style);
}
