.carousel-demo .movie-item .movie-item-content {
    text-align: center;
    padding: 2rem 0;
    color: 	#F5F5F5;
}

.carousel-demo .movie-item .poster {
    width: 40%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 0;
}

.upcoming {
    color: 	#F5F5F5;
    font-size: 1.4rem;
    margin-left: 10rem; 
    font-weight: bold;
}

.custom-carousel {
    margin-left: 5vw;
    margin-right: 5vw;
}

.mb-1 {
    font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
    .upcoming {
        text-align: center;
        margin-left: 0rem; 
    }
  }